<html>
    <head>
        
        <script src="/public/contact/contact.js"></script>
         <link rel="stylesheet" href="/public/my project/myproject.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    

    </head>



    
<body style=" background-color: rgb(221, 219, 219);">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand me-5" href="#"><img src="/public/dw.png"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                      {{#if isLogin}}
                    <a class="nav-link" href="/myproject">Add My Project</a>
                    {{/if}}
              </li>
            </ul>
            <div class="d-flex align-items-center justify-content-center mt-0">
             <a href="contact" class="btn-mycontact">My Contact</a>
            </div>
          </div>
        </div>
      </nav>
    <h2 style="
    text-align:center;
    margin-top: 150px;
    padding-top: 50px;
    ">GET IN TOUCH</h2>
    <form style="width: 400px; margin: auto; margin-top: 50px;">
        <div style="margin-top: 10px;">
        </div>

        <div style="margin-bottom: 20px;">
            <label for="input-name" style="font-size: 23px; font-weight: 700px;">Name</label>
            <input
                type="text"
                id="input-name"
                style="
                    width: 100%;
                    padding: 14px;
                    border: 1px solid rgb(206, 206, 206);
                    margin-top: 2px;
                    box-shadow: 0px 2px 2px;
                    ">
        </div>
        <div style="margin-bottom: 20px;">
            <label for="input-email" style="font-size: 23px; font-weight: 700px;">Email</label>
            <input
                type="email"
                id="input-email"
                style="
                    width: 100%;
                    padding: 14px;
                    border: 1px solid rgb(206, 206, 206);
                    margin-top: 2px;
                    box-shadow: 0px 2px 4px;
                    ">
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        <label for="input-number" style="font-size: 23px; font-weight: 700px;">Phone Number</label>
        <input
            type="text"
            id="input-number"
            style="
                width: 100%;
                padding: 14px;
                border: 1px solid rgb(206, 206, 206);
                margin-top: 2px;
                box-shadow: 0px 2px 4px;
                ">
    </div>

    
</div>
<div style="margin-bottom: 20px;">
    <label for="input-subject" style="font-size: 23px; font-weight: 700px;">Subject</label>
    <select
        id="input-subject"
        style="
            width: 100%;
            padding: 14px;
            border: 1px solid rgb(206, 206, 206);
            margin-top: 2px;
            box-shadow: 0px 2px 4px;
            ">
                <option hidden></option>
                <option>I'm hiring</option>
                <option>Let's Collaborate</option>
                <option>lets talk</option>
    </select>
</div>
<div style="margin-bottom: 20px;">
    <label for="input-Message" style="font-size: 23px; font-weight: 700px;">Your Message</label>
    <textarea
        type="text area"
        id="input-Message"
        style="
            width: 100%;
            height: 90px;
            padding: 14px;
            border: 1px solid rgb(233, 233, 233);
            margin-top: 2px;
            box-shadow: 0px 2px 4px;
            "></textarea>
</div>
<button 
    type="button"
    onclick="submitForm()"
    style="
    background-color:black;
    float:right;
    color:white;
    border-radius: 20px;
    padding-top:7px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 7px;
    margin-top:10px;
    width: 120px;
    ;">submit</button>
 </form>





 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
   
</body>









</html>